:root {
  /* Fondo principal */
  --bg-main: #0F1C2E;       /* Azul noche */
  --bg-panel: #2A3F5F;      /* Azul acero */
  --bg-soft: #8FA3B8;       /* Gris frío */

  /* Acciones */
  --accent-main: #3FC1C9;   /* Cian */
  
  /* Fondos claros */
  --bg-white: #F7F9FC;

  /* Patronaje */
  --grid-light: rgba(255,255,255,0.08);
  --grid-dark: rgba(0,0,0,0.15);
}
